# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native Build
ios/build/
android/app/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro Bundler
.metro-health-check*

# Debugging
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Firebase
# android/app/google-services.json
# ios/GoogleService-Info.plist

# Ignore the entire Android folder (optional, if not modifying native code)
# /android
# /ios
parentalcontrol-79411-firebase-adminsdk-fbsvc-f7971f1632.json

android\app\google-services.json
google-services.json